.conteudo-contatos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem 1.2rem;
}

.conteudo-contatos h2 {
    text-align: center;
    font-size: 2rem;
    color: #50FA7B;
    padding: 2.5rem 1.2rem 2rem 1.2rem;
}

.conteudo-contatos form {
    width: 50%;
    background-color: #282A36;
    border-radius: 8px;
    padding: 2rem;
}

.conteudo-contatos input[type="text"], input[type="email"], input[type="tel"] {
    width: 100%;
    padding: 0.3rem 0;
    border: 1px solid #282A36;
    border-radius: 5px;
    background-color: #44475A;
    opacity: 0.8;
}

.conteudo-contatos textarea {
    width: 100%;
    height: 5rem;
    background-color: #44475A;
    opacity: 0.8;
    border: none;
    border-radius: 5px;
}

.conteudo-contatos input::placeholder, textarea::placeholder {
    color: #F8F8F2;
    padding: 1rem;
}

.conteudo-contatos input[type="submit"] {
    width: 60%;
    padding: 1rem;
    background-color: #44475A;
    color: #50FA7B;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 15px #50FA7B;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.conteudo-contatos input[type="submit"]:hover {
    transform: scale(1.05);
    transition: 0.7s;
}

@media (max-width: 575px) {
    .conteudo-contatos input[type="submit"] {
        width: 100%;
        padding: 0.8rem;
    }
}

@media (max-width: 375px) {
    .conteudo-contatos input[type="submit"] {
        font-size: 0.8rem;
    }
}

