.conteudo-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282A36;
    padding: 2.5rem 0;
}

.redes-sociais ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.redes-sociais ul li {
    padding: 0 1rem;
}

.redes-sociais img {
    height: 38px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #1b1b1b;
}

.redes-sociais img:hover {
    transform: scale(1.25);
    transition: 0.5s;
    box-shadow: 2px 2px 10px #50FA7B;

}

.links-footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.links-footer ul li {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    padding-bottom: 0.7rem;
}

.links-footer a {
    padding: 0.5rem;

}

.links-footer a:hover {
    background-color: #44475A;
    border-radius: 0.5rem;
    color: #ff79c6;
}

