#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #282A36;
    padding: 2rem;
}

#header-ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#header h1 a {
    color: #ff79c6;
    font-size: 1.5rem;
}

#header-ul a {
    margin: 0.5rem;
    padding: 1.2rem;
}

#header-ul a:hover {
    background-color: #44475A;
    border-radius: 0.5rem;
    color: #ff79c6;
}

@media (max-width: 885px) {
    #header {
        flex-direction: column;
        justify-content: center;
    }

    #header h1 {
        padding-bottom: 1rem;
    }
}

@media (max-width: 675px) {
    #header-ul {
        flex-direction: column;
    }

    #header-ul li {
        text-align: center;
        padding: 0.5rem;
    }

    #header-ul a {
        margin: 0.5rem;
        padding: 0.8rem;
    }
}