.conteudo-projetos {
    background-color: #282A36;
    padding-bottom: 1.2rem;
}

.conteudo-projetos h2 {
    text-align: center;
    font-size: 2rem;
    color: #50FA7B;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.conteudo-projetos img {
    width: 400px;
    max-width: 100%;
}

.projeto-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    padding: 1rem;
}

.projeto-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.paragrafo-projeto {
    width: 500px;
    padding: 0 1rem;
}

.paragrafo-projeto h3 {
    font-size: 1.1rem;
    padding-bottom: 1rem;
}

.paragrafo-projeto p {
    text-align: left;
}

.paragrafo-projeto span {
    color: #ff79c6;
}

@media (max-width: 963px) {
    .paragrafo-projeto h3 {
        text-align: center;
        padding-bottom: 0.5rem;
    }

    .h3-notebook {
        margin-top: 1rem;
    }

    .h3-monitor {
        margin-top: 1.5rem;
    }

    .paragrafo-projeto p {
        text-align: center;
    }
}