.conteudo-habilidades {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
    padding-bottom: 2.2rem;
    max-width: 90%;
    margin: 0 auto;
}

#habilidades h2 {
    text-align: center;
    font-size: 2rem;
    color: #50FA7B;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

.habilidades-card img {
    width: 150px;
    height: 150px;
    max-width: 100%;
}

.habilidades-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #282A36;
    border-radius: 8px;
    padding: 1.2rem;
    margin: 1.5rem;
    height: 270px;
}

.habilidades-card:hover {
    transform: scale(1.05);
    transition: 0.7s;
}

.habilidades-card h3 {
    text-align: center;
    padding-top: 1rem;
}

@media (max-width: 1079px) {
    .conteudo-habilidades {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 8px;
    }
}

@media (max-width: 571px) {
    .conteudo-habilidades {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
        gap: 8px;
    }
}